<div class="form-group">
  <label for="title" class="mb-1">Title</label>
  <input required type="text" name="title" id="title" class="form-control" />
</div>

<div class="form-group">
  <label for="description" class="mb-1">Description</label>
  <input
    required
    type="text"
    name="description"
    id="description"
    class="form-control"
  />
</div>

<div class="form-group">
  <label for="markdown" class="mb-1">Markdown</label>
  <input
    required
    type="text"
    name="markdown"
    id="markdown"
    class="form-control"
  />
</div>

<a href="/" class="btn btn-secondary mt-2">cancel</a>
<button type="submit" class="btn btn-primary mt-2">Save</button>
